.teste{
	
	text-align: center;
	width: 100%;
	
	

	
}
body header {
	width: 100%;
	position: fixed;
	

	
	
}
body  footer{
position: fixed;
width: 100%;
bottom: 0;


	
}
body {
	position: relative;
	padding-top: 123px;
	
}
