<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="utf-8">

 <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

 <!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<title>RestaGuide</title>
</head>
<body>
  <div class="container">
<table class="card-panel teal lighten-2">
<tr>
<th>id</th>
<th>Nome</th>
<th>Email</th>
<th>Altera</th>
<th>Excluir</th>
</tr>
<tbody>
</tbody>
<tr th:each="adm:${admins}">
    <td th:text="${adm.id}"></td>
    <td th:text="${adm.nome}"></td>
    <td th:text="${adm.email}"></td>
</tr>
</table>
 <ul class="pagination">
    <li th:class="${paginaAtual == 1 ? 'disabled':'waves-effect'}"><a th:href="${paginaAtual > 1 ? paginaAtual - 1:'#'}"><i class="material-icons">chevron_left</i></a></li>
    <li  th:each="p:${numPaginas}" th:class="${paginaAtual == p ? 'active blue':'waves-effect'} " ><a th:href="${p}"><span th:text="${p}"></span></a></li>
    <li th:class="${paginaAtual == totalPaginas ? 'disabled':'waves-effect'}"><a th:href="${paginaAtual < totalPaginas ? paginaAtual + 1:'#'}"><i class="material-icons">chevron_right</i></a></li>
  </ul>
</div>

</body>
</html>